[ req ]
default_bits = 4048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn

[ dn ]
O = HPS
CN = grep11.local

[ v3_ca ]
basicConstraints = critical, CA:TRUE
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer

