[ req ]
default_bits = 4048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = grep11server


[ grep11server ]
#subjectAltName = DNS.1:grep11.svc.net:9876,DNS.2:192.168.96.21:9876,DNS.3:192.168.96.21,IP:192.168.96.21,DNS.4:grep11.svc.net,DNS.5:grep11,DNS.6:grep11:9876
subjectAltName =  DNS.1:grep11,DNS.2:grep11:9876
extendedKeyUsage = serverAuth

[ dn ]
O = HPS
CN = grep11.svc.net

