HSMDOMAIN1=
HSMDOMAIN2=

SECRET_B24=
MKVP=

MACHINE1=
MACHINE1_DESCRIPTION=""
MACHINE1_HKD_B24=

MACHINE2=
MACHINE2_DESCRIPTION=""
MACHINE2_HKD_B24=

# Container Configuration
IMAGEGREP11=
IMAGENGINX=

