### IBM cloud setting ###
IC_API_KEY=
REGION=
ZONE=

### Registry setting ###
REGISTRY_USERNAME=iamapikey
REGISTRY_PASSWORD=

### COS setting ###
COS_API_KEY=
COS_ID=
DAP_BACKUP_BUCKET=dap-backup

### LogDNA setting ###
LOGDNA_API_HOSTNAME=api.us-east.logging.cloud.ibm.com
LOGDNA_INGESTION_HOSTNAME=logs.us-east.logging.cloud.ibm.com
LOGDNA_SYSLOG_INGESTION_HOSTNAME=syslog-a.us-east.logging.cloud.ibm.com
LOGDNA_INGESTION_KEY=

SSH_PUBKEY_PATH=
SSH_PORT=

DEPLOY_TIME_SECRET=
OLD_DEPLOY_TIME_SECRET=
ARGON2_SALT=

PORT=4000

SIDECAR_IMAGE=
DOCKER_CONTAINER_EXTERNAL=false

COMPONENT_CERTS=
FRONTEND_KEY=
FRONTEND_CERT=

CLIENT_CERTS_ENABLED=
MTLS_ENABLED=