version: '2.4'

networks:
  cs-network:
    external: false
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.10.0/24

services:
  frontend_sidecar:
    image: ${tpl.image}
    networks:
      - cs-network
    ports:
      - "$${PORT}:$${PORT}"
      - "$${SSH_PORT}:22"
    environment:
      SSH_PUBKEY: $${SSH_PUBKEY}
      PORT: $${PORT}
      CONFIRMATION_FINGERPRINT: $${CONFIRMATION_FINGERPRINT}
      COMPONENT_CA_CERT: $${COMPONENT_CA_CERT}
      FRONTEND_KEY: $${FRONTEND_PLUGIN_KEY}
      FRONTEND_CERT: $${FRONTEND_PLUGIN_CERT}
      SYSLOG_HOSTNAME: $${SYSLOG_HOSTNAME}
      SYSLOG_PORT: $${SYSLOG_PORT}
      SYSLOG_SERVER_CERT: $${SYSLOG_SERVER_CERT}
      SYSLOG_CLIENT_CERT: $${SYSLOG_CLIENT_CERT}
      SYSLOG_CLIENT_KEY: $${SYSLOG_CLIENT_KEY}
      SK: "${tpl.SK}"
      PUB: "${tpl.PUB}"
      VAULTID: "${tpl.VAULTID}"
      HMZ_SERVER: "${tpl.HMZ_SERVER}"
      ROOTCERT: "${tpl.ROOTCERT}"
