version: '2.4'

networks:
  cs-network:
    external: false
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.10.0/24 

services:
  backend_sidecar:
    image: ${tpl.image}
    networks:
      - cs-network
    ports:
      - "$${PORT}:$${PORT}" 
      - "$${SSH_PORT}:22"
    environment:
      SSH_PUBKEY: $${SSH_PUBKEY}
      BACKEND_ENDPOINT: $${BACKEND_ENDPOINT}
      PORT: $${PORT}
      BRIDGE_FINGERPRINT: $${BRIDGE_FINGERPRINT}
      COMPONENT_CA_CERT: $${COMPONENT_CA_CERT}   
      BACKEND_KEY: $${BACKEND_PLUGIN_KEY}
      BACKEND_CERT: $${BACKEND_PLUGIN_CERT}
      SYSLOG_HOSTNAME: $${SYSLOG_HOSTNAME}
      SYSLOG_PORT: $${SYSLOG_PORT}
      SYSLOG_SERVER_CERT: $${SYSLOG_SERVER_CERT}
      SYSLOG_CLIENT_CERT: $${SYSLOG_CLIENT_CERT}
      SYSLOG_CLIENT_KEY: $${SYSLOG_CLIENT_KEY}
