# DEBUG
DEBUG=false
SSH_PORT="5000"
SSH_PUBKEY=<<-EOT
EOT

HPCR_CERT=null

# Container Configuration
SIDECAR_IMAGE=""
REGISTRY_URL="us.icr.io"
REGISTRY_USERNAME="iamapikey"
REGISTRY_PASSWORD=""
REGISTRY_INSECURE=false

# Logging Configuration
SYSLOG_HOSTNAME=""
SYSLOG_PORT=6514
SYSLOG_SERVER_CERT=<<-EOT
EOT
SYSLOG_CLIENT_CERT=<<-EOT
EOT
SYSLOG_CLIENT_KEY=<<-EOT
EOT

# Service Configuration
BRIDGE_FINGERPRINT=<<-EOT
EOT
COMPONENT_CA_CERT=<<-EOT
EOT
BACKEND_CERT=<<-EOT
EOT
BACKEND_KEY=<<-EOT
EOT
PORT="4000"
BACKEND_ENDPOINT="http://192.168.122.50:5002"
