version: '3.6'

services:
  cold-bridge:
    image: ${tpl.cold_bridge_image}
    environment:
      # This must be same as VAULT_ID below
      Vault__Ids__0: ${tpl.vault_id}
      # Passphrase: "{{EMPTY}}" is needed so that the bridge data is not cyphered and can be managed by OSO
      Passphrase: "${tpl.passphrase}"
    restart: always
%{ if tpl.standalone ~}
    ports:
      - "8080:8080"
%{ endif ~}
    volumes:
      - "/mnt/data:/App_Data"

  kmsconnect:
    image: ${tpl.kmsconnect_image}
    volumes:
      - "./ibm.cfg:/opt/kms/cfg/ibm.cfg"
      - "./cert:/data/cert:ro"
    restart: always

  cold-vault:
    image: ${tpl.cold_vault_image}
    depends_on:
      - cold-bridge
      - kmsconnect
    environment:
      PLATFORM: kms
      VAULT_BRIDGE_LOGLEVEL: 7
      VAULT_CORE_LOGLEVEL: 7
      VAULT_KMS_ENDPOINT: kmsconnect:10000
      VAULT_TRUSTED_SIG: pem:${tpl.notary_messaging_public_key}
      VAULT_ID: ${tpl.vault_id}
      # This comes from the docker container that is spun up above. If it's normal vault, then it would be API end point.
      HARMONIZE_CORE_ENDPOINT: http://cold-bridge:8080/internal/v1
    restart: always
%{ if ! tpl.standalone ~}
  backend-plugin:
    image: ${tpl.backend_plugin_image}
    depends_on:
      - cold-vault
    ports:
      - "$${PORT}:$${PORT}"
      - "$${SSH_PORT}:$${SSH_PORT}"
    environment:
      COMPONENT: "backend_plugin"
      SSH_PUBKEY: $${SSH_PUBKEY}
      BACKEND_ENDPOINT: http://cold-bridge:8080
      SSH_PORT: $${SSH_PORT}
      PORT: $${PORT}
      BRIDGE_FINGERPRINT: $${BRIDGE_FINGERPRINT}
      COMPONENT_CA_CERT: $${COMPONENT_CA_CERT}
      BACKEND_KEY: $${BACKEND_PLUGIN_KEY}
      BACKEND_CERT: $${BACKEND_PLUGIN_CERT}
    restart: always
%{ endif ~}
