apiVersion: v1
kind: Pod
metadata:
  name: hmzcoldvault
spec:
  restartPolicy: Always

  volumes:
    - name: bridge-data
      hostPath:
        path: /mnt/data
        type: Directory
    - name: ibm-config
      hostPath:
        path: ./ibm.cfg
        type: File
    - name: certs
      hostPath:
        path: ./cert
        type: Directory

  containers:
    - name: cold-bridge
      image: ${tpl.cold_bridge_image}
      env:
        - name: Vault__Ids__0
          value: ${tpl.vault_id}
        - name: Passphrase
          value: "${tpl.passphrase}"
      volumeMounts:
        - name: bridge-data
          mountPath: /App_Data

    - name: kmsconnect
      image: ${tpl.kmsconnect_image}
      volumeMounts:
        - name: ibm-config
          mountPath: /app/cfg/ibm.cfg
        - name: certs
          mountPath: /data/cert
          readOnly: true

    - name: cold-vault
      image: ${tpl.cold_vault_image}
      env:
        - name: PLATFORM
          value: "kms"
        - name: VAULT_BRIDGE_LOGLEVEL
          value: "6"
        - name: VAULT_CORE_LOGLEVEL
          value: "3"
        - name: VAULT_KMS_ENDPOINT
          value: "localhost:10000"
        - name: VAULT_TRUSTED_SIG
          value: ${tpl.notary_messaging_public_key}
        - name: VAULT_ID
          value: ${tpl.vault_id}
        - name: HARMONIZE_CORE_ENDPOINT
          value: "http://localhost:8080/internal/v1"
        - name: HMZ_FEATURE_OPTIONAL_MAXIMUM_FEE
          value: "true"

    - name: backend-plugin
      image: ${tpl.backend_plugin_image}
      ports:
        - containerPort: 4000
          hostPort: 4000
      envFrom:
        - configMapRef:
            name: contract.config.map
            optional: false
      env:
        - name: COMPONENT
          value: "backend_plugin"
        - name: OSOENCRYPTIONPASS
          value: ${tpl.seed}
        - name: BACKEND_ENDPOINT
          value: "http://localhost:8080"
        - name: PORT
          value: "4000"
        - name: COMPONENT_CA_CERT
          valueFrom:
            configMapKeyRef:
              name: contract.config.map
              key: certs__ca
              optional: false
        - name: BACKEND_CERT
          valueFrom:
            configMapKeyRef:
              name: contract.config.map
              key: certs__app_crt
              optional: false
        - name: BACKEND_KEY
          valueFrom:
            configMapKeyRef:
              name: contract.config.map
              key: certs__app_key
              optional: false
        - name: mode
          valueFrom:
            configMapKeyRef:
              name: contract.config.map
              key: mode
              optional: false
        - name: BRIDGE_FINGERPRINT
          valueFrom:
            configMapKeyRef:
              name: contract.config.map
              key: BRIDGE_FINGERPRINT
              optional: false

