version: '3.6'

services:
%{ for vault_id in tpl.vault_id ~}
  cold-bridge-${vault_id}:
    image: ${tpl.cold_bridge_image}
    environment:
      Passphrase: "${tpl.passphrase}"
    restart: always

  kmsconnect-${vault_id}:
    image: ${tpl.kmsconnect_image}
    volumes:
      - "./ibm.cfg:/app/cfg/ibm.cfg:Z"
      - "./cert:/data/cert:ro,Z"
    restart: always

  cold-vault-${vault_id}:
    image: ${tpl.cold_vault_image}
    depends_on:
      - cold-bridge-${vault_id}
      - kmsconnect-${vault_id}
    environment:
      PLATFORM: kms
      VAULT_BRIDGE_LOGLEVEL: 6
      VAULT_CORE_LOGLEVEL: 3
      VAULT_KMS_ENDPOINT: kmsconnect-${vault_id}:10000
      VAULT_TRUSTED_SIG: ${tpl.notary_messaging_public_key}
      VAULT_ID: ${vault_id}
      HARMONIZE_CORE_ENDPOINT: http://cold-bridge-${vault_id}:8080/internal/v1
      HMZ_FEATURE_OPTIONAL_MAXIMUM_FEE: 'true'
    restart: always


%{ endfor ~}
  backend-plugin:
    image: ${tpl.backend_plugin_image}
    depends_on:
%{ for vault_id in tpl.vault_id ~}
      - cold-vault-${vault_id}
%{ endfor ~}
    ports:
      - "$${PORT}:$${PORT}"
    environment:
      COMPONENT: "backend_plugin"
      OSOENCRYPTIONPASS: "${tpl.seed}"
      #Does not change
      BACKEND_ENDPOINT: http://cold-bridge
      PORT: 4000
      VAULTIDS: "${join(" ", tpl.vault_id)}"
      BRIDGE_FINGERPRINT: $${BRIDGE_FINGERPRINT}
      COMPONENT_CA_CERT: $${certs__ca}
      BACKEND_KEY: $${certs__app_key}
      BACKEND_CERT: $${certs__app_crt}
      WHITELISTING: "${tpl.whitelisting}"
    restart: always
%{ if tpl.whitelisting == "1" ~}
    volumes:
      - ./whitelists:/whitelists
%{ endif ~}
