
  ep11server1:
    image: ${tpl.imagegrep11}
    privileged: true 
    restart: always
    volumes:
      - ./cfg:/etc/c16
      - ./srv:/cfg
      - ./srv/grep11server1.yaml:/etc/ep11server/ep11server.yaml

  ep11server2:
    image: ${tpl.imagegrep11}
    restart: always
    privileged: true 
    volumes:
      - ./cfg:/etc/c16
      - ./srv:/cfg
      - ./srv/grep11server2.yaml:/etc/ep11server/ep11server.yaml

  grep11:
    image: ${tpl.imagenginx}
    depends_on:
      - ep11server1
      - ep11server2
    restart: always
    ports:
      - "9876:9876"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
