version: '2.4'

services:
  frontend_plugin:
    image: ${tpl.image}
    ports:
      - "$${PORT}:$${PORT}"
      - "$${SSH_PORT}:$${SSH_PORT}"
    environment:
      COMPONENT: "frontend_plugin"
      SSH_PUBKEY: $${SSH_PUBKEY}
      SSH_PORT: $${SSH_PORT}
      PORT: $${PORT}
      CONFIRMATION_FINGERPRINT: $${CONFIRMATION_FINGERPRINT}
      COMPONENT_CA_CERT: $${COMPONENT_CA_CERT}
      FRONTEND_KEY: $${FRONTEND_PLUGIN_KEY}
      FRONTEND_CERT: $${FRONTEND_PLUGIN_CERT}
      SK: "${tpl.SK}"
      VAULTID: "${tpl.VAULTID}"
      HMZ_AUTH_HOSTNAME: "${tpl.HMZ_AUTH_HOSTNAME}"
      HMZ_API_HOSTNAME: "${tpl.HMZ_API_HOSTNAME}"
      ROOTCERT: "${tpl.ROOTCERT}"
      SEED: "${tpl.SEED}"
      TOKEN_EXP: "${tpl.TOKEN_EXP}"
