version: '2.4'

services:
  frontend_plugin:
    image: ${tpl.image}
    restart: always
    ports:
      - "$${PORT}:$${PORT}"
    environment:
      COMPONENT: "frontend_plugin"
      PORT: 4000
      CONFIRMATION_FINGERPRINT: $${CONFIRMATION_FINGERPRINT}
      COMPONENT_CA_CERT: $${certs__ca}
      FRONTEND_KEY: $${certs__app_key}
      FRONTEND_CERT: $${certs__app_crt}
      HMZ_USER_SK: "${tpl.HMZ_USER_SK}"
      VAULTID: "${tpl.VAULTID}"
      HMZ_AUTH_HOSTNAME: "${tpl.HMZ_AUTH_HOSTNAME}"
      HMZ_AUTH_CUSTOMERID: "${tpl.HMZ_AUTH_CUSTOMERID}"
      HMZ_AUTH_PATH: "${tpl.HMZ_AUTH_PATH}"
      HMZ_API_HOSTNAME: "${tpl.HMZ_API_HOSTNAME}"
      ROOTCERT: "${tpl.ROOTCERT}"
      OSOENCRYPTIONPASS: "${tpl.OSOENCRYPTIONPASS}"
      TOKEN_EXP: "${tpl.TOKEN_EXP}"
